---
import Label from "./Label.astro";
import type { HTMLAttributes } from "astro/types";

interface CustomProps {
  label?: string;
  name: string;
  link?: { href: string; text: string };
  elementType?: "input" | "textarea";
  rows?: number;
  className?: string;
}

type Props = CustomProps & HTMLAttributes<"input"> & HTMLAttributes<"textarea">;

const {
  label,
  name,
  link,
  rows = 5,
  elementType = "input",
  className,
  ...attrs
} = Astro.props;

const inputClasses =
  "px-3 py-2.5 transition-colors duration-200 ease-in-out text-sm text-violet-50 placeholder:text-zinc-400/80 focus:outline-hidden rounded-md ring-1 ring-inset ring-violet-200/[0.06] focus:ring-2 focus:ring-inset focus:ring-violet-300/15 w-full bg-transparent border-0";
---

<div class={className}>
  {
    label && (
      <Label name={name} link={link}>
        {label}
      </Label>
    )
  }
  <div
    class="group shadow-inner-blur relative mt-2 flex w-full rounded-md bg-zinc-950/[.01] duration-200 ease-in-out hover:bg-zinc-950/10 has-focus:bg-zinc-950/15"
  >
    {
      elementType === "textarea" ? (
        <textarea
          id={name}
          name={name}
          rows={rows}
          class={inputClasses}
          {...attrs}
        />
      ) : (
        <input id={name} name={name} class={inputClasses} {...attrs} />
      )
    }
  </div>
</div>
